/* FONTS */

@font-face {
  font-family: 'SU';
  src: url('../../archmove/public/font-families/sf-ui-display-bold-58646a511e3d9.otf');
  src: url('../../archmove/public/font-families/sf-ui-display-medium-58646be638f96.otf');
  src: url('../../archmove/public/font-families/sf-ui-display-thin-58646e9b26e8b.otf');
}
@font-face {
  font-family: 'NY';
  src: url('../../public/font-families/NewYorkExtraLargeBold.otf');
  src: url('../../public/font-families/NewYorkExtraLargeMedium.otf');
  src: url('../../public/font-families/NewYorkExtraLargeSmall.otf');
}


body {
  font-family: 'SU', Fallback, sans-serif;
  font-weight: 500;
}